apb/ABP Questions.pdf
apb/APB_2014.zip
apb/APB_2014_Part1/*
apb/APB_2014_Part1/*
apb/APB_2014_Part1/APB2015.pdf
apb/APB_2014_Part1/cz1APB_workflowAng2014_podstaw_pojecia.pdf
apb/APB_2014_Part1/cz2APB_workflowAng2014_X2Y.pdf
apb/APB_2014_Part1/cz3APB_workflowAng2014_modelowanie.pdf
apb/APB_2014_Part1/cz4APB_workflowAng2014_jezyki.pdf
apb/APB_2014_Part1/cz5APB_workflowAng2014_monitorowanie.pdf
apb/APB_2014_Part1/cz6APB_workflowAng2014_wwf.pdf
apb/APB_2014PL/AsIs - simulation.mp4
apb/APB_2014PL/bpel_example/bpel4people-1.1-spec-cd-06.pdf
apb/APB_2014PL/bpel_example/shippingLT.wsdl
apb/APB_2014PL/bpel_example/shippingProces.bpel
apb/APB_2014PL/bpel_example/shippingProperties.wsdl
apb/APB_2014PL/bpel_example/shippingPT.wsdl
apb/APB_2014PL/bpel_example/wsbpel-v2.0-OS.pdf
apb/APB_2014PL/cz1APB_workflowPL2014_X2Y.pdf
apb/APB_2014PL/cz2APB_workflowPL2014_podstaw_pojecia.pdf
apb/APB_2014PL/cz3APB_workflowPL2014_modelowanie.pdf
apb/APB_2014PL/cz4APB_workflowPL2014_jezyki.pdf
apb/APB_2014PL/cz5APB_workflowPL2014_monitorowanie.pdf
apb/APB_2014PL/ToBe - simulation.mp4
apb/APB_2014PL/Windows Workflow Foundation.pdf
apb/APB2014Opracowanie.pdf
apb/APB2015.pdf
apb/kolo.docx
apb/pytanka.txt
Formularz_eRekrutacja_PG.pdf
hpc/.idea/.name
hpc/.idea/encodings.xml
hpc/.idea/hpc.iml
hpc/.idea/misc.xml
hpc/.idea/modules.xml
hpc/.idea/vcs.xml
hpc/.idea/workspace.xml
hpc/CMakeLists.txt
hpc/HPCS_lab2.pdf
hpc/HPCS_lab5.pdf
Z10-ZRPiO.doc
Z11-ZRPiO Indywidualny program studiow - zal. tabele.xls
